{% comment -%}
Accepts one param, "do_lazyload"
{%- endcomment-%}

{%- assign author = post.author | default: page.author -%}
{%- assign date = post.date | default: page.date -%}
<div class="d-flex align-items-center mb-4 text-muted author-info">
    <span class="d-flex align-items-center" title="{{ date | date_to_rfc822 }}">
        {% include icons/calendar-event.svg class="mr-2" width="24" height="24" %}
        投稿日:&nbsp;<span class="post-d">{{ date | date_to_rfc822 }}</span>
    </span>
</div>