<div class="masthead bg-light">
    <div class="container">
        <a href="/" aria-label="Bootstrap">
            <!-- {% include icons/bootstrap-white-fill.svg class="bs-docs-booticon mb-3" width="90" height="72" %} -->
            <h1 class="f2"><span class="d-inline-block">村田 光春</span>&nbsp;<span class="d-inline-block">(Murata Mitsuharu)</span></h1>
        </a>
        <p class="f5 d-inline">
            <span class="d-inline-block">山口大学</span><span class="d-inline-block">大学院創成科学研究科</span><span class="d-inline-block">基盤科学系専攻学生</span>
        </p>
        <p class="f5">
            生体情報システム研究室所属
        </p>

        <!-- {% include carbonads.html %} -->
    </div>
</div>