<h1>カテゴリー</h1>
<h2>画像処理</h2>
<ul>
    <li><a href="/2021/05/09/favicon.html">アイコン (.ico) の作り方</a></li>
    <li><a href="/2021/06/13/bilateral-filter.html">ImageMagick でバイラテラルフィルター</a></li>
    <li><a href="/2021/06/13/install-magick.html">ImageMagick のインストール方法 (Ubuntu)</a></li>
</ul>

<h2>WSL2</h2>
<ul>
    <li><a href="/2021/10/07/wsl-dns.html">WSL2 で DNS サーバーを設定する</a></li>
    <li><a href="/2021/09/21/powerline.html">Powerline のインストール方法</a></li>
    <li><a href="/2021/10/07/nokogiri-build-error.html">brew 環境下で nokogiri をインストールできないとき</a></li>
</ul>

<h2>Raspberry Pi</h2>
<ul>
    <li><a href="/2021/08/16/raspi.html">モニター無しで Raspberry Pi のセットアップ</a></li>
</ul>

<h2>SSH</h2>
<ul>
    <li><a href="/2021/10/06/win-ssh-permission-denied.html">Windows の OpenSSH で Permission denied が出る原因</a></li>
    <li><a href="/2021/09/27/disable-windows-ssh-password-authorization.html">Windows の OpenSSH でパスワード認証を無効にする</a></li>
    <li><a href="/2021/09/23/ssh-tunnel.html">SSH トンネル</a></li>
</ul>

<h2>Ruby</h2>
<ul>
    <li><a href="/2021/03/13/cruby.html">Ruby の作り方</a></li>
    <li><a href="/2021/07/16/how2create-gem.html">gem 作り方</a></li>
    <li><a href="/2021/08/05/webrick-cgi-path.html">Webrick で rbenv 経由でインストールした Ruby の CGI が動かない場合の対処法</li>
    <li><a href="/2021/10/07/nokogiri-build-error.html">brew 環境下で nokogiri をインストールできないとき</a></li>
</ul>