---
---


body
    font-family: Yu Gothic UI

h1
    font-size: 32px

h1, h2, h3, h4, h5, h6
    margin: 8px auto
    font-weight: normal

button, input[type="button"]
    background-color: var(--color)
    border: none
    color: white
    height: 32px
    padding: 0 58px
    border-radius: 3px
    font-size: 12px
    &:hover
        background-color: var(--light)

input[type="text"]
    padding: 4px 8px
    font-size: 14px
    border-radius: 3px
    border: solid 2px #37474f
    &:focus
        border: solid 2px var(--color)

a
    font-size: 14px

p
    margin: 8px auto