body {
    --font: #333;
    --gray: #888;
    color: var(--font);
}

#title {
    margin: 0;
}

#title a {
    color: var(--font);
    text-decoration: none;
    font-size: 20px;
}

.entry-title {
    margin-top: 0px;
    padding-bottom: 0px;
    border: none;
}

.entry-title a {
    font-size: 40px;
    color: var(--font);
    text-decoration: none;
}

.date.entry-date.first a {
    color: var(--gray);
    text-decoration: none;
}

article h1 {
    font-size: 26px;
    padding-bottom: 6px;
    border-bottom: solid 1px #ddd;
}

article h2 {
    font-size: 24px;
}

article h3 {
    font-size: 22px;
}

article h4 {
    font-size: 20px;
}

article h5 {
    font-size: 18px;
}

article h6 {
    font-size: 16px;
}
