<!doctype html>
<html lang="ja" class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Cache-Control" content="no-cache">
    <link href="/ibm-plex-sans-jp-web/css/ibm-plex-sans-jp.min.css", rel="preload" as="style">
    <link href="{{ site.assets.css.uri }}" rel="preload" as="style">
    <!-- <link href="/assets/css/codicon.css" rel="preload" as="font"> -->
    <link href="/assets/css/style.css" rel="preload" as="style">
    <link href="/assets/css/ads.css" rel="preload" as="style">
    <link href="/assets/css/footer.css" rel="preload" as="style">
    <link href="/assets/css/navbar.css" rel="preload" as="style">
    <link href="/assets/css/pygments-manni.css" rel="preload" as="style">
    <link href="/assets/css/subnav.css" rel="preload" as="style">
    <link href="/assets/css/theme.css" rel="preload" as="style">
    <link href="/assets/css/variables.css" rel="preload" as="style">
    <link href="/assets/css/buttons.css" rel="preload" as="style">
    <link href="/assets/js/era.js" rel="preload" as="script">

    {% if page.terminal %}
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://unpkg.com/xterm@4.9.0/css/xterm.css">
        <script src="https://unpkg.com/xterm@4.9.0/lib/xterm.js"></script>    
    {% endif %}

    <link href="{{ site.assets.css.uri }}" rel="stylesheet" integrity="{{ site.assets.css.sri }}" crossorigin="anonymous" >
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/ads.css" rel="stylesheet">
    <link href="/assets/css/footer.css" rel="stylesheet">
    <link href="/assets/css/navbar.css" rel="stylesheet">
    <link href="/assets/css/pygments-manni.css" rel="stylesheet">
    <link href="/assets/css/subnav.css" rel="stylesheet">
    <link href="/assets/css/theme.css" rel="stylesheet">
    <link href="/assets/css/variables.css" rel="stylesheet">
    <link href="/assets/css/buttons.css" rel="stylesheet"> 
    
    <script src="https://himeyama.github.io/era.js/era.js"></script>
    {% include favicons.html %}

    {% feed_meta %}

    {% seo %}
    <meta name="google-site-verification" content="rlaFYHKMlaB3yvzALyr-jKJ_2H0xICA3TKB3-61ja5Y" />

    {% include analytics.html %}
    {% include no-js.html %}
</head>

<body>
    {% include navbar.html %}
    {% include hero.html %}
    {% include subnav.html %}

    <div class="container">
        {{ content }}
    </div>

    {% include footer.html %}

    {% include lazyload.html %}

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs/loader.min.js"></script>
    <script src="/assets/js/code-monaco.js"></script> -->
</body>

</html>